---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import ProfilePic from '../components/ProfilePic.astro';
import '../assets/global.css';
import Technologies from '../components/Technologies.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Liam Wirth | Portfolio"
  description="I use ArchBTW"
>
  <Navbar />
  <div class="justify-center">
    <ProfilePic />
  </div>
  <Technologies />
</Layout>
