<body class="text-gray-50 flex flex-col justify-between min-h-screen bg-gray-900">
  <div class="flex flex-grow flex-col justify-center items-center text-gray-50 bg-gray-999">
    <h1>This Site Is Under Construction!</h1>

    <h2><i>it's a side project</i></h2>
    <img
      src="png/sideproject.png"
      alt="Under Construction"
    />
  </div>
</body>

<style>
  .h1 {
    font-size: 32rem;
  }
</style>
