<body class="bg-gray-900 text-white flex flex-col justify-between min-h-screen">
  <!--[if lt IE 8]>
          <p class="browserupgrade">
          You are using an <strong>outdated</strong> browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a> to improve
          your experience.
          </p>
      <![endif]-->
  
  <div class="flex flex-grow flex-col justify-center items-center">
    <h1>This Site Is Under Construction!</h1>

    <h2><i>it's a side project</i></h2>
    <img
      src="png/sideproject.png"
      alt="Under Construction"
    />
  </div>
</body>
