---
// TODO: It would be nice to use the daisyUI carousel?
import { type SimpleIcon } from 'simple-icons';
import * as simpleIcons from 'simple-icons/icons';
import TechCard from './TechCard.astro';
import '../assets/global.css'

export interface Tech {
  text: string;
  simple: SimpleIcon;
}

export const technologies: Tech[] = [
  { text: 'Rust', simple: simpleIcons.siRust },
  { text: 'Arch', simple: simpleIcons.siArchlinux },
  { text: 'Git', simple: simpleIcons.siGit },
  { text: 'Bash', simple: simpleIcons.siGnubash },
  { text: 'JavaScript', simple: simpleIcons.siJavascript },
  { text: 'TypeScript', simple: simpleIcons.siTypescript },
  { text: 'Astro', simple: simpleIcons.siAstro },
  { text: 'TailwindCSS', simple: simpleIcons.siTailwindcss },
  { text: 'Linux', simple: simpleIcons.siLinux },
  { text: 'Lua', simple: simpleIcons.siLua },
  { text: 'Neovim', simple: simpleIcons.siNeovim },
  { text: 'C', simple: simpleIcons.siC },
  { text: 'Latex', simple: simpleIcons.siLatex },
  { text: 'Emacs', simple: simpleIcons.siGnuemacs },
  { text: 'Python', simple: simpleIcons.siPython },
  { text: 'Markdown', simple: simpleIcons.siMarkdown },
  { text: 'Org Mode', simple: simpleIcons.siOrg },
  { text: 'Ruby', simple: simpleIcons.siRuby },
  { text: 'Premiere', simple: simpleIcons.siAdobepremierepro },
  { text: 'Photoshop', simple: simpleIcons.siAdobephotoshop },
  { text: 'LeetCode', simple: simpleIcons.siLeetcode },
  { text: 'MakeFile', simple: simpleIcons.siMake },
  { text: 'MuseScore', simple: simpleIcons.siMusescore },
  { text: 'Discord', simple: simpleIcons.siDiscord},
  { text: 'SpotifyAPI', simple:simpleIcons.siSpotify}
];

const shuffle = (arr: Tech[]) => [...arr].sort(() => 0.5 - Math.random());
const shuffledTechnologies = shuffle(technologies);
---

<div class="w-full p-4 flex justify-center">
  <h2 class="text-2xl font-bold mb-4">Tech I Know</h2>
</div>


<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 p-4">
  {shuffledTechnologies.map(tech => (
    <TechCard tech={tech} />
  ))}
</div>


<style>
.text-outline {
  position: relative;
  color: white; /* Text color */
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black; /* Outline color */
  opacity: 0.7; /* Optional: to adjust the outline intensity */
  transform: translate(-1px, 1px); /* Adjust this to fine-tune the outline positioning */
  font-size: inherit; /* Match the font size */
  font-weight: inherit; /* Match the font weight */
}

</style>