---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props.title;
const { description } = Astro.props.description;
import '../assets/global.css';
---

<!-- Stolen from the medevs.xyz -->
<!doctype html>
<html lang="en" data-theme="light">
  <head > <!-- TODO: set up some startup script or something that get's what the current user's system theme is, and set that there -->
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Liam Wirth's Portfolio"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <!-- Boxicons -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <ViewTransitions />
  </head>
  <body class="bg-gray-999">
    <slot />
  </body>
</html>
